@font-face{

    font-family:"IRANSansWeb";
  src: local('IRANSansWeb'),url(./fonts/irsans_p30download.com.ttf) format('truetype');
  }
  
  *{
    direction: rtl;
    font-family: IRANSansWeb;
    
    }